//estilos del SwiperJS
.swiper {
  width: 100%;
  //height: 320px;
}

.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  font-size: 22px;
  font-weight: bold;
  color: #fff;
}

.img-principal {
  width: 100%;
	font-size: 16px;
	min-height: 500px;
	color: #fff;
	background-position: center center;
  background-repeat: no-repeat;
	background-size: cover;
	margin-bottom: 3.12em;
	display: flex;
	align-items: end;
  text-align: center;
}
.img-principal .contenedor {
  width: 80%;
	margin: 0 auto;
	margin-bottom: 2.25em;
}

.img-principal .titulo {
	font-weight: 600;
	font-size: 3.12em;
	margin-bottom: 0.4em;
}

.img-principal .descripcion {
	font-weight: normal;
	font-size: 1em;
	line-height: 1.75em;
	//max-width: 50%;
	margin-bottom: 1.25em;
  //darle el siguiente color mas apagado
  color: rgba(253, 253, 253, 0.80);
}




h1 {
  font-size: 3rem;
  text-transform: uppercase;
  font-family: sans-serif;
  font-weight: 200;
  text-align: center;
  margin: 1rem 0 -1rem 0;
  padding-bottom: 2rem;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

