<h1>{{tituloSeccion}}</h1>

<swiper-container class="swiper" #slider pagination="true" navigation="true" loop="true" autoplay-delay="2500"
  autoplay-disable-on-interaction="false" effect="cards">
  <!--pagination="true" -> para que aparezcan los puntitos con el Nº de slide-->
  <!--navigation="true" -> para que aparezcan las fechas de "siguiente" y "anterior"-->
  <!--loop="true" -> para hacer scroll infinito-->
  <!--autoplay-delay="2500" autoplay-disable-on-interaction="false" -> que se mueva automaticamente-->
  <!--effect="cards" -> para darle el efecto visual de "Baraja de cartas"-->

  <swiper-slide class="swiper-slide" *ngFor="let item of fotos">
    <div class="img-principal" style="background-position: center center; background-repeat: no-repeat; background-size: cover;
      background: linear-gradient(rgba(0, 0, 0, -0.50) 0%, rgba(0,0,0,0.50) 100%), url({{item.Imagen}});">
      <div class="contenedor">
        <div class="titulo">{{item.Titulo}}</div>
        <div class="descripcion">{{item.Contenido}}</div>
      </div>  
  </div>
  </swiper-slide>

</swiper-container>
