<ion-header>
  <ion-toolbar [color]="color ? color : 'primary'">
    
    <!-- ===== Compruebo si me llaman indicando la Ruta de vuelta ===== -->
    <ion-buttons *ngIf="backButton" slot="start">
      <!-- ===== Cerrar cuando es modal (no hay back) ===== -->
      <ion-button *ngIf="isModal">
        <ion-icon name="close-circle-outilne"></ion-icon>
      </ion-button>
      
      <!-- ===== Boton de atras ===== -->
      <ion-back-button [defaultHref]="backButton"></ion-back-button>
    </ion-buttons>

    <ion-title *ngIf="titulo" [ngClass]="{'ion-text-center': centerTitle}">{{titulo}}</ion-title>

    <!-- ===== Botones para cambio de Tema ligth/dark ===== -->
    <ion-buttons slot="end">
      <ion-button (click)="setTheme(false)" *ngIf="darkMode.value">
        <ion-icon name="sunny-outline"></ion-icon>
      </ion-button>

      <ion-button (click)="setTheme(true)" *ngIf="!darkMode.value">
        <ion-icon name="moon-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>