<ion-header class="ion-no-border">
  <ion-toolbar [color]="color ? color : 'primary'">
    
    <!-- ===== Compruebo si me llaman indicando la Ruta de vuelta ===== -->
    <ion-buttons slot="start">
      <!-- ===== Cerrar cuando es modal (no hay back) ===== -->
      <ion-button *ngIf="isModal" (click)="dismissModal()">
        <ion-icon name="close-circle-outilne"></ion-icon>
      </ion-button>
      
      <!-- ===== Boton de atras ===== -->
      <ion-back-button *ngIf="backButton" [defaultHref]="backButton"></ion-back-button>
    </ion-buttons>

    <ion-title *ngIf="titulo" [ngClass]="{'ion-text-center': centerTitle}">{{titulo}}</ion-title>

    <ion-buttons slot="end">
      <!-- ===== Botones para cambio de Tema ligth/dark ===== -->
      <ion-button (click)="setTheme(false)" *ngIf="darkMode.value">
        <ion-icon name="sunny-outline"></ion-icon>
      </ion-button>
      <ion-button (click)="setTheme(true)" *ngIf="!darkMode.value">
        <ion-icon name="moon-outline"></ion-icon>
      </ion-button>
      <!-- ===== Boton LandingPage ===== -->
      <ion-button (click)="toHome()">
        <ion-icon name="home-outline"></ion-icon>
      </ion-button>
      <!-- ===== Botones de Login/Registro ===== -->
      <ion-button (click)="toLogin()">
        <ion-icon name="person-outline"></ion-icon>
      </ion-button>
      <ion-button (click)="toSingUp()">
        <ion-icon name="person-add-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>