    // Media queries
    $mobile-breakpoint: 500px;//578px;//568px;
    $tablet-breakpoint: 768px;//960px;

.avatar{
    font-size: 130px;
}
.centrado{
    text-align: center;
}
.feature-text{
    //darle el siguiente color mas apagado
    color: rgba(253, 253, 253, 0.5)
}
h1 {
    font-size: 3rem;
    text-transform: uppercase;
    font-family: sans-serif;
    font-weight: 200;
    text-align: center;
    margin: 1rem 0 -1rem 0;
    padding-bottom: 2rem;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  }