h1{
    text-align: center;
    margin: 0;
    font-weight: bold;
}
ion-label{
    color: rgba(255, 255, 255, 1.0) !important;;
    font-size: 30px !important;;
    font-weight: bold !important;;
    //
    line-height: 1.2 !important;;
}