<!-- ========== Input "normal" ========== -->
<!-- SOLO se muestra si el componente a incluir NO es textarea  -->
<ion-item *ngIf="type !== 'textarea'" class="ion-margin-vertical">
  <ion-icon color="primary" *ngIf="icon" slot="start" [name]="icon"></ion-icon>
  <!--<ion-label position="floating">{{label}}</ion-label> -->
      <!-- por una actualizacion de ionic, se elimina el label y se pasa como atributo -->
  <ion-input [label]="label" debounce="500" [autocomplete]="autocomplete" [type]="type" [formControl]="control"></ion-input>
  
  <ion-buttons *ngIf="isPassword" slot="end">
    <ion-button (click)="showOrHidePassword()">
      <ion-icon [name]="hide ? 'eye-outline' : 'eye-off-outline'"></ion-icon>
    </ion-button>
  </ion-buttons>
</ion-item>

<!-- ========== Text Area ========== -->
<!-- SOLO se muestra si queremos incluir este "type" de componente -->
<ion-item *ngIf="type == 'textarea'" class="ion-margin-vertical">
  <!--<ion-label position="floating">{{label}}</ion-label> -->
      <!-- por una actualizacion de ionic, se elimina el label y se pasa como atributo -->
  <ion-textarea [label]="label" autoGrow="true" debounce="500" [formControl]="control" ></ion-textarea>
</ion-item>