<div class="price-box">
  <div class="box-header">
    <div class="package-type">
      {{ pricingBox.name }}
    </div>
    <div class="price">
      <span>{{ pricingBox.price }}</span><span class="Euro-sign">€</span>
    </div>
  </div>
  <div class="box-body">
    <ul class="list-unstyled">
      <li  *ngFor="let feature of pricingBox.features">{{ feature }}</li>
    </ul>
    <div class="small-text">Apuntate ya!!</div>
    <button class="btn rounded btn-purchase" (click)="onPurchase(pricingBox.name)">
      <a target="_blank" href="https://wa.me/34625126513?text=Estoy interesado en *{{pricingBox.name}}* que teneis anunciado en la web, ¿podeis darme mas informacion?">Contactar</a>
    </button>
  </div>
</div>