<div class="ion-text-center">
  <h1>FAQs: Generales</h1>
  <h3>Respuestas a las preguntas frecuentes sobre el Club y sobre el Tiro con Arco en general</h3>

      <ion-accordion-group>
        <ion-accordion value="first">
          <ion-item slot="header" color="light">
            <ion-label>¿Puedo tener un Arco y usarlo SIN tener licencia Federativa?</ion-label>
          </ion-item>
          <div class="ion-padding feature-text" slot="content">La respuesta corta es <b>NO. </b><br/>
            La tenencia <b>SI está permitida</b>, pero para poder usar el arco <b>en cualquier sitio, es necesario estar 
            federado, tambien si se usa para cazar</b>,
            podemos decir, que igual que necesitas licencia de armas para usar un Rifle o una Escopeta, para usar un Arco
            necesitas tener licencia federativa (RFETA o IFAA).
          </div>
        </ion-accordion>
        <ion-accordion value="second">
          <ion-item slot="header" color="light">
            <ion-label>Arqueros de Los Navalucillos ¿que tipo de Licencia me facilita?</ion-label>
          </ion-item>
          <div class="ion-padding feature-text" slot="content">Nuestro Club está inscrito en el registro de entidades deportivas
            de Castilla la Mancha, por lo tanto, forma parte de la FCMTA (Federacion Castellano Manchega de Tiro con Arco) que a 
            su vez, forma parte de la RFETA (Real Federacion Española de Tiro con Arco). Por lo tanto, desde el club podemos 
            tramitar licencia RFETA.
          </div>
        </ion-accordion>
        <ion-accordion value="third">
          <ion-item slot="header" color="light">
            <ion-label>¿Que necesito para obtener la licencia Federativa?</ion-label>
          </ion-item>
          <div class="ion-padding feature-text" slot="content">Tenemos que separar <b>los unicos 2 casos</b> que existen: <br/>
            <b>1º Caso</b> si has tenido alguna vez licencia RFETA, es necesario que formes parte del Club y te 
            <b>renovamos la licencia</b> de forma automatica.<br/>
            <b>2º Caso</b> si NO has tenido licencia RFETA, es necesario que <b>realices un curso de iniciacion</b> al Tiro con Arco, este
            curso es como "el examen de armas", te capacita para poder usar un arco y lo firma un monitor autorizado 
            (sin este documento, las federaciones NO te generan la licencia), este documento implica que la RC que genera 
            "el novel" durante su primer año, recae sobre el monitor. Por este motivo, nuestros monitores tienen autonomia para
            impartir los cursos de iniciacion e incluso pueden concluirlo antes de tiempo.<br/>
            Lo mejor es que <b>contactes con nosotros</b> y te explicamos todo y resolvemos tus dudas.
          </div>
        </ion-accordion>
      </ion-accordion-group>
   
</div>