
    // Media queries
    $mobile-breakpoint: 500px;//578px;//568px;
    $tablet-breakpoint: 768px;//960px;

ion-content{
    @media (max-width: $mobile-breakpoint) {//578
        height: 105%;    
    }
    @media (min-width: $mobile-breakpoint) and (max-width: $tablet-breakpoint) {
        height: 115%;    
    }    
    @media (min-width: $tablet-breakpoint) and (max-width: 990px) { //768
        height: 145%;   
    }
    @media (min-width: 990px) and (max-width: 1199px) {
        height: 186%;   
    }
    @media (min-width: 1199px){
        height: 217%;   
    }
   
}
.h-section-two-cols{
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    display: flex;
}
.left-col{
    width: 40.43%;
    margin-bottom: 0;
    max-width: 456px;
}
.feature-text{
    //darle el siguiente color mas apagado
    color: rgba(253, 253, 253, 0.5)
}

h2{
    @media (max-width: $mobile-breakpoint) {//578
        margin-top: 18px;
        font-size: 1rem;
    }
    @media (min-width: $mobile-breakpoint) and (max-width: $tablet-breakpoint) {
        margin-top: 18px;
        font-size: 1.5rem;
    }    
    @media (min-width: $tablet-breakpoint) { //768
        margin-top: 18px;
        font-size: 2.5rem;
    }
}

.right-col{
    width: 48.94%;
    margin-bottom: 0;
    max-width: 552px;
}

.h-image{
    pointer-events: none;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
}
h1 {
    font-size: 3rem;
    text-transform: uppercase;
    font-family: sans-serif;
    font-weight: 200;
    text-align: center;
    margin: 1rem 0 -1rem 0;
    padding-bottom: 2rem;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  }