<ion-tabs>
  <ion-tab-bar slot="bottom" *ngIf="!rutas.home">
      <!-- Acceso NO permitido -->
    <ion-tab-button tab="no-access">
      <ion-icon name="ban-outline"></ion-icon>
      <ion-label>Inicio</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
  <ion-tab-bar slot="bottom" *ngIf="rutas.home">
    <!-- Le añados los ngIf para que se muestren o no los accesos, en base a los permisos del usuario -->
      <!-- Accesos normales -->
    <ion-tab-button tab="home">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>Inicio</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="profile">
      <ion-icon name="person-outline"></ion-icon>
      <ion-label>Perfil</ion-label>
    </ion-tab-button>
    <ion-tab-button *ngIf="rutas.reservas">
      <!-- PTE Añadir el acceso a la web de Reservas-->
      <ion-icon name="calendar-outline"></ion-icon>
      <ion-label>Reservas</ion-label>
    </ion-tab-button>
    <ion-tab-button *ngIf="rutas.licencia">
      <!-- PTE Añadir Licencia -->
      <ion-icon name="document-attach-outline"></ion-icon>
      <ion-label>Licencias</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="testimonials">
      <ion-icon name="person-outline"></ion-icon>
      <ion-label>Testimonios</ion-label>
    </ion-tab-button>
    <!-- PTE Añadir Documentacion (estatutos, actas y demas) -->
    <!-- PTE Añadir Curso Iniciacion -->
    <!-- PTE Añadir Tecnificacion -->
    <!-- PTE Añadir Competiciones -->
    
  </ion-tab-bar>
</ion-tabs>