<ion-footer mode="ios" collapse="fade">
  <ion-grid >
    <ion-row>
      <ion-col sizeLg="4" sizeMd="4" sizeSm="12" size="12">
        <div>
          <h5 class="text-uppercase">Dirección</h5>
          <p>C\ Enrique Molina, xxx, 45130 Los Navalucillos (Toledo)</p>
        </div>
      </ion-col>
      <ion-col sizeLg="4" sizeMd="4" sizeSm="12" size="12">
        <div>
          <h5 class="text-uppercase">Email</h5>
          <p>asdfasdfasdfasdfadf</p>
        </div>
      </ion-col>
      <ion-col sizeLg="4" sizeMd="4" sizeSm="12" size="12">
        <div>
          <h5 class="text-uppercase">Teléfono</h5>
          <p>+34 625 126 513</p>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <div class="footer-center">
          <p>© 2024 Copyright: Arqueros de Los Navalucillos.</p>
          <p>by KrpoSoftware</p>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>