// ajustar el tama침o del formulario para que en la web NO aparezca estirado a fullscreen
    // sino definir un ancho maximo y como est치 centrado quedar치 OK
    @media (min-width: 769px){

        form{
            width: 550px;
            padding: 50px 10px;
        }
    }
    
    .sign-up{
        padding: 50px;
    }
    
    //Ajustar el tama침o de los botones para que tengan el mismo
    ion-button{
        width: 170px;
    }