    // Media queries
    $mobile-breakpoint: 500px;//578px;//568px;
    $tablet-breakpoint: 768px;//960px;

ion-content{
    @media (max-width: $mobile-breakpoint) {//578
        height: 143%;    
    }
    @media (min-width: $mobile-breakpoint) and (max-width: $tablet-breakpoint) {
        height: 153%;    
    }    
    @media (min-width: $tablet-breakpoint) and (max-width: 990px) { //768
        height: 100%;   
    }
    @media (min-width: 990px) and (max-width: 1199px) {
        height: 100%;   
    }
    @media (min-width: 1199px){
        height: 113%;   
    }
}

ion-img{
    display: block;
    object-fit: inherit;
    object-position: inherit;
    padding: 10px;
}
h1 {
    font-size: 3rem;
    text-transform: uppercase;
    font-family: sans-serif;
    font-weight: 200;
    text-align: center;
    margin: 1rem 0 -1rem 0;
    padding-bottom: 2rem;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  }